.showtime-button {
  max-width: 100px;
  text-align: center;
}

.showtime-box {
  background-color: whitesmoke;
}

.showtime-disabled {
  background-color: gray;
}

.showtime-disabled :hover {
  background-color: gray;
  cursor: not-allowed;
}
