table {
  border-spacing: 1;
  border-collapse: collapse;
  border-radius: 6px;
  overflow: hidden;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 30px;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: white;
  font-size: 16px;
  border-bottom: 1px solid gray;
}
table tbody tr {
  height: 48px;
  border-bottom: 1px solid gray;
}
/* table thead tr th {
  max-width: 400px;
} */
/* table tbody tr:last-child {
  border: 0;
} */
/* table td, table th {
    text-align: left;
  }
  table td.l, table th.l {
    text-align: right;
  }
  table td.c, table th.c {
    text-align: center;
  }
  table td.r, table th.r {
    text-align: center;
  } */

@media screen and (max-width: 48em) {
  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
    min-width: 200px;
  }
  table thead {
    display: none;
  }
  table tbody tr {
    height: auto;
    padding: 8px 0;
  }
  table tbody tr td {
    padding-left: 45%;
    margin-bottom: 12px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    position: absolute;
    font-weight: 700;
    width: 40%;
    left: 10px;
    top: 0;
  }
  /* table tbody tr td:nth-child(1):before {
    content: "";
  } */
  table tbody tr td:nth-child(2):before {
    content: "NAME";
  }
  table tbody tr td:nth-child(3):before {
    content: "BREED";
  }
  table tbody tr td:nth-child(4):before {
    content: "GENDER";
  }
  table tbody tr td:nth-child(5):before {
    content: "AGE";
  }
  /* table tbody tr td:nth-child(6):before {
    content: "BREED";
  } */
}
@media screen and (min-width: 71.25em) {
  .img-box {
    width: 35%;
    height: auto;
    max-width: 500px;
  }
}

.SearchBox {
  margin: auto;
  max-width: 500px;
  min-width: 100px;
}

.search-img {
  /* min-width: 120px; */
  max-width: 280px;
  width: 100%;
  left: 0px;
  right: 0px;
  margin: 4px 0px;
}
